<!DOCTYPE html>
<html>
  <head>
    <title>Add Quiz Score</title>
  </head>
  <body>
    <h1>Add Quiz Score</h1>
      <div id="form">
	<form action="/results/add" method="POST">
          <p>Student ID: <input type="text" name="StudentID"></input></p>
          <p>Quiz ID: <input type="text" name="QuizID"></input></p>
          <p>Score: <input type="text" name="Score"></input></p>
	  <button type="submit">Add Score</button>
	</form>
      </div>
  </body>
  <a href='/dashboard'>Return to Dashboard</a>
</html>