<!DOCTYPE html>
<html>
  <head>
    <title>Add Quiz</title>
  </head>
  <body>
    <h1>Add Quiz</h1>
      <div id="form">
	<form action="/quiz/add" method="POST">
	  <p>Subject: <input type="text" name="QuizSubject"></input></p>
	  <p>Total number of questions: <input type="text" name="QuizQuestions"></input></p>
	  <p>Quiz Date: <input type="text" name="QuizDate"></input></p>
          <button type="submit">Add Quiz</button>
	</form>
      </div>
  <a href='/dashboard'>Return to Dashboard</a>
  </body>
</html>